.details-field {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.details-field label {
  padding: 2px 0;
  font-size: 14px;
  color: #000;
  opacity: 50%;
}
.details-field span {
  color: #200062;
}
