html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}
/*shared */
:root {
  --main-bg-color: #f7f7f7;
  --header-bg-color: #efeff4;
  --odd-row-bg-color: #f5f0ff;
  --disabled-text-color: #a1a1a1;
  --header-border-color: #8e8e93;
  --main-text-color: #717171;
  --primary-button-bg-color: #4310ae;
  --grid-header-bg-color: #200062;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}
