.empty-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}
.empty-wrap span.caption {
  font-size: 24px;
  color: var(--disabled-text-color);
}
.empty-wrap img.animate {
  -webkit-animation: myOrbit 1s linear infinite;
}
@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
